# Ignore JSON files starting with route-
route-*.json

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# Experimental folder
.dev/

# Pytest cache folder
.pytest_cache/

# Coverage reports
.coverage

# Distribution files
dist/
